svg {
  height: auto;
  width: 80px;
  transition: all 0.3s ease;
}
.about__skillContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2rem;
}
.about__iconContainer {
  /* margin: 0.1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__iconStyle {
  /* margin: 0.1em; */
}

.about__profilePic {
  object-fit: contain;
  width: 230px;
  margin: 0 5rem 0 5rem;
  filter: grayscale(100) contrast(100%);
}

.about__desc {
  color: #efefef;
  margin: 0 3rem 0 3rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 22px;
}

.about__descKeyword {
  font-size: 28px;
}
.about__aboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  svg {
    width: 75px;
  }
}

@media screen and (max-width: 960px) {
  .about__skillContainer {
    grid-template-columns: repeat(7, 1fr);
  }
  svg {
    width: 60px;
  }
  .about__profilePic {
    width: 15%;

    /* margin: 1rem 0 1rem 0; */
  }
  .about__aboutMe {
    flex-direction: column;
  }
  .about__desc {
    margin: 1rem 3rem 1rem 3rem;
    font-size: 18px;
  }
  .about__descKeyword {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .about__skillContainer {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
  }
  svg {
    width: 40px;
  }
  .about__profilePic {
    width: 25%;
    /* margin: 1rem 0 1rem 0; */
  }
  .about__desc {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 14px;
  }
}

@media screen and (max-width: 460px) {
  .about__skillContainer {
    row-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  svg {
    width: 20px;
  }
}
@media screen and (max-width: 360px) {
  svg {
    width: 18px;
  }
}
