.jay-pic {
  position: absolute;
  object-fit: contain;
  height: 100vmin;
  right: 0;
  bottom: 0;
}
.typoHeader {
  font-family: "Anton";
  z-index: -1;
}

.jay-container {
  height: 100%;
  text-align: right;
  z-index: 1;
}
.landing-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.scroll-btn {
  bottom: 0;
  position: absolute;
  padding: 1rem;
  z-index: 2;
}

.side-menu {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 100vh;
  background-color: #fbd630;
  clip-path: circle(0 at 100% 0);
}

@media only screen and (max-width: 1200px) {
  .landing-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
